<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Our Wedding</h1>
        <h3>Adventures past &amp; present</h3>
        <br>
        <a href="#portfolio" class="btn btn-dark btn-lg">Our Engagement</a>
    </div>
</header>
