<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top"  onclick = $("#menu-close").click(); >Our Wedding</a>
        </li>
        <li>
            <a href="#portfolio" onclick = $("#menu-close").click(); >Engagement</a>
        </li>
        <li>
            <a href="#contact" onclick = $("#menu-close").click(); >Destination</a>
        </li>
        <li>
            <%= link_to 'Sign In',new_user_session_path %>
        </li>
        <li>
            <%= link_to 'Sign Out',destroy_user_session_path %>
        </li>
        <li>
            <%= link_to 'Register',new_user_registration_path %>
        </li>
    </ul>
</nav>
