<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Engagement Photos</h2>

                <div class="modal-dialog align-center">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="branded-font-huge">Coming Soon!    <i class="glyphicon glyphicon-heart-empty"></i></h1>
                    </div>
                  </div>
                </div>

               <!--  <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#"> -->
                         <!--        <%= image_tag "stylish_portfolio/portfolio-1.jpg", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/portfolio-2.jpg", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/portfolio-3.jpg", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag "stylish_portfolio/portfolio-4.jpg", class: "img-portfolio img-responsive" %>
                            </a>
                        </div>
                    </div>
                </div> -->
                <!-- /.row (nested) -->
              
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
